.point_of_sale {
    .pos_product_table {
        min-height: 250px;
        height: 280px;
        max-height: 300px;
    }

    .category_bar {
        .categories_list {
            // overflow-x: auto;
        }
    }
}